#yukleme_bolgesi {
	z-index: 99999;
background-color: #111111;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

.tutucu
{
	z-index: 9999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.p1
{
	stroke-dasharray: 1200;
	animation: ap1 1s ease infinite;
	opacity: 0;
}
.p2
{
	stroke-dasharray: 500;
	animation: ap2 1s ease infinite;
	opacity: 0;
}
.p4
{
	stroke-dasharray: 220;
	animation: ap4 1s ease infinite;
	opacity: 0;
}
.p5
{
	stroke-dasharray: 800;
	animation: ap5 1s ease infinite;
	opacity: 0;
}


@keyframes ap1{
	0%{
		stroke-dashoffset: 1200;
		opacity: 1;
	}
	80%{
		stroke-dashoffset: 0;
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

@keyframes ap2{
	0%
	{
		stroke-dashoffset: 500;
		opacity: 1;
	}
	80%
	{
		stroke-dashoffset: 0;
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}


@keyframes ap4 {
	0%{
		stroke-dashoffset: 220;
		opacity: 1;
	}
	80% {
		stroke-dashoffset: 0;
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

@keyframes ap5 {
	0%
	{
		stroke-dashoffset: 800;
		opacity: 1;
	}
	80%
	{
		stroke-dashoffset: 0;
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

@keyframes opaklık{
	0%{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}