.popup_button
{
	display: inline-block;
	text-align: center;
	font-size: 16px;
	font-family: Calibri;
	width: 60px;
	height: 20px;
	background-color: #ada;
	text-decoration: none;
	color: #000;
	border-radius: 5px;
}


#focus
{
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.9);
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	font-family: "Varela Regular";
}

#focus:target
{
	visibility: visible;
	opacity: 1;
}

.sign_popup
{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	width: 600px;
	height: 100%;

}

#popup_exit
{
	text-decoration: none;
	color: #fff;
	width: 45px;
	height: 45px;
	font-family: verdana;
	font-weight: bold;
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
	user-select: none;
}

#popup_exit:hover
{
	background-color: #5ABEED;
}


#popup_exit button
{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 16pt;
}

.top_popup_bar
{
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background-color: #02A2EE;
}

#popup_logo
{
	position: absolute;
	user-select: none;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	height: 35px;
	width: auto;
}

.hoverlay:after
{
	background-color: rgba(255,255,255,0.5);
	display: block;
}

.hoverlay:hover
{
	cursor: pointer;
}

#current_tab
{
	font-weight: bold;
	font-size: 18px;
	font-family: verdana;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.tabs
{
	position: absolute;
	top: 45px;
	width: 100%;
	height: 30px;
	background-color: #aaa;
}

.tabs-container
{
	position: absolute;
	display: flex;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.tabs-container input
{
	visibility: hidden;
}

.tabs-container label
{
	font-size: 14px;
	font-family: verdana;
	width: 200px;
	height: 30px;
	display: flex;
	text-align: center;
}

.tabs-container label:hover
{
	cursor: pointer;
}

.tabs-container label p
{
	margin: auto;
}

.tab
{
	background-color: #999;
}

.tab:hover
{
	background-color: #aaa;
}

.active
{
	color: #fff;
	background-color: #555;
}

.active:hover
{
	background-color: #555;
}

.tab_contents
{
	position: relative;
	top: 75px;
	width: 100%;
	height: calc(100% - 75px);
	background-image: url("lighteffect2.png");
	background-size: cover;
	background-position: center;
}

#tab1_content
{
	position: absolute;
	width: 100%;
	height: 100%;

}

#tab2_content
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.option
{
	display: block;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%);
}

.option img
{
	display: block;
	margin-top: 10px;
	margin-bottom: 50px;
}

.option img:hover
{
	cursor: pointer;
}

.sign_in_container
{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-50%);
}

.form_label
{
	display: inline-block;
	width: 100px;
	color: #000;
	text-shadow: 0px 0px 15px #fff;
}

#sign_in_form label
{
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
}

.green_button
{
	width: 100px;
	height: 37px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 50px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: rgb(116, 244, 66);
	outline: none;
	margin: 5px;
}