#cerceve {
	width:420px;
	height:300px;
	overflow:hidden;
	display:block;
}
#serit {
	width:2100px;
	height:300px;
	animation:slide 15s infinite;
}
.slideimg {
	width:420px;
	height:300px;
	float:left;
}
@-webkit-keyframes slide{
  0%  {margin-left: 0px;}
  10% {margin-left: 0px;}
  20% {margin-left: -420px;}
  30% {margin-left: -420px;}
  40% {margin-left: -840px;}
  50% {margin-left: -840px;}
  60% {margin-left: -1260px;}
  70% {margin-left: -1260px;}
  80% {margin-left: -1680px;}
  90% {margin-left: -1680px;}
}