/***************
* YAZAR: UFUK BAKAN
* ZORA1N STYLESHEET
* 03.01.2019 -- DEVAM EDİYOR
*
*/



  #zologo
  {
    transition: 0.5s;
  }

  .sign_in_up
  {
    transition: 0.5s;
  }

  .mid_block
  {
    transition: 0.5s;
    color: #fff;
    font-family: "Quaver Sans", "Calibri Light";
    font-size: 24px;
  }

  .hoverlay:hover
  {
    cursor: pointer;
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
  }

  .hoverlay:active
  {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  }


/* rgb(6,0,22) = #060016 */
@media only screen and (max-width: 900px){

  
.logo img
  {
    user-select: none;
    height: 100px;
  }
  
  .logo:hover
  {
    cursor: pointer;
  }
  
  .top_menu
  {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #060016;
    background-image: linear-gradient(180deg, rgba(29,45,107,1) 0%, rgba(72,117,117,1) 100%);
    transition: 0.5s; 
    
  }
  
  .menu
  {
    user-select: none;
    position: absolute;
    color: white;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-family: Sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  
  .menu:hover
  {
    cursor: pointer;
  }
  
  .top_menu input
  {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  .open_menu
  {
    user-select: none;
    font-family: sans-serif;
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #001333;
    color: white;
    width: 0px;
    height: 100%;
    padding-top: 50px;
    display: block;
    transition: 0.5s;
    overflow: hidden;
    font-size: 20px;
    
  }
  
  .header
  {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
  }
  
  
  .header:after
  {
    content: "";
    display: block;
    width: 0;
    margin: auto;
    height: 2px;
    background-color: #fff;
   	transition: .5s;
  }
  .header:hover
  {
    cursor: pointer;
  }
  
  .header:hover:after
  {
    width: calc(100% - 10px);
  }

  .container
  {
    position: absolute;
    margin-top: 50px;
  }
  
  .container ul
  {
    list-style-type: square;
  }
  
  .container li
  {
    margin-bottom: 10px;
  }
  
  .mid_block
  {
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 100%;
    overflow: auto;
  }

  .sign_in_up
  {
    display: none;
  }

  body
  {
    background-color: #111111;
  }
  
  .top_search
  {
    display: none;
  }

  .sign_in_up_mobile
  {
    z-index: 11;
    position: absolute;
    display: block;
    bottom: 100px;
    left:  50%;
    transform: translateX(-50%);
  }

  .mobile_sign_in
  {
    background-color: transparent;
    border: 2px solid  rgb(116, 244, 66);
    outline: none;
    height: 50px;
    width: 120px;
    display: block;
    margin: 10px;
    position: relative;
    font-family: "Calibri";
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
  }

  .mobile_sign_up
  {
    color: #fff;
    background-color: transparent;
    display: block;
    height: 50px;
    width: 120px;
    margin: 10px;
    font-family: "Calibri";
    outline: none;
    border: 2px solid #136cf9;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
  }

  .mobile_search
  {
    display: block;
    left: 50%;
    margin-left: 20px;
    margin-right: 20px;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
    color: #fFf;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
  }

  .mobile_search input
  {
    display: none;
  }

  .mobile_search:hover
  {
    cursor: pointer;
  }

  .mobile_search_popup
  {
    z-index: 12;
    position: absolute;
    left: 50%;
    top: 50px;
    margin: 10px;
    color: #fff;
  }

  #triangle
  {
    width: 300px;
    height: 0;
    border-bottom: 0 solid #fff;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    transition: 0.25s;
    transition-delay: 0s;
  }

  #block
  {
    width: 300px; /* 300 default */
    height: 0;
    background-color: #fff;
    position: absolute;
    left: -125px; /* -125 d*/
    top: 25px;
    transition: 0.25s;
    transition-delay: 0.25s;
    border-radius: 5px;
    transform-origin: 50% 50%;
    margin-left: -40px;
  }

  .block_search
  {
    display: none;
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  .block_search_box
  {
    width: 80%;
    height: 40px;
    font-size: 24px;
  }

  .mobile_search_button
  {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 70px;
    height: 50px;
    font-size: 24px;
    font-family: "Calibri";
    font-weight: bold;
    background-color: rgba(72,117,117,1);
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
  }

  .slider
  {
    display: none;
  }

  .copyright_block
  {
    display: none;
  }

  .trends_block
  {
    display: none;
  }

  .desktop_menu
  {
    display: none;
  }
}




/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */
/* MOBİL VE TABLET GÖRÜNÜM SONU */


@media screen and (min-width: 901px){
  .top_menu
  {
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: rgba(6,0,22); /* rgb(6,0,22) = #060016 */
    background-image: linear-gradient(180deg, rgba(29,45,107,1) 0%, rgba(72,117,117,1) 100%);
    transition: 0.5s;
  }

  .top_menu img
  {
    height: 100px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .menulabel
  {
   display: none;
  }

  .sign_in_up
  {
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    height: 35px;
    background-color: rgb(6,6,6);
    color: rgba(255,255,255,1);
    font-family: "Arial";
    font-size: 15px;
  }

  .sign_upb
  {
    position: absolute;
    top: 0;
    right: -80px;
    outline: none;
    background-color: #136cf9;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    height: 25px;
    width: 75px;
    font-family: "Calibri";
    font-weight: bold;
  }

  .open_menu
  {
    display: none;
  }

  #sign_inb
  {
    background-color: rgb(116, 244, 66);
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    height: 25px;
    width: 75px;
    font-family: "Calibri";
    font-weight: bold;
    display: inline-block;
  }



  body
  {
    background-color: rgb(11,11,11);
  }
  
  .mid_block
  {
    position: fixed;
    top: 185px;
    left: 0;
    width: 100%;
    height: calc(100% - 185px);
    overflow: auto;
  }

  .top_search
  {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .search_box
  {
    padding-left: 5px;
    width: 0;
    height: 25px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translate(0,-50%);
    display: inline-block;
    transition: 0.5s;
    outline: none;
    border: none;
    padding: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 5px;
    padding-right: 20px;
  }

  .search_button
  {
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    height: 25px;
    color: #fff;
    background-color: #f48f42;
    font-size: 14px;
    font-family: "Calibri";
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 50px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0,-50%);


  }

  .search_label:hover > .search_box
  {    width: 160px;
  }

  .search_label
  {
    width: auto;
    height: 25px;
    margin: auto;
    overflow: none;
  }
  
  .container
  {
    position: absolute;
    left: calc(50% - 80px);
    top: 50%;
    transform: translate(-50%,-50%);
    height: 25px;
  }

  .mobile_search
  {
    display: none;
  }

  .trends_block
  {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .trends_block iframe
  {
    border: none;
    outline: none;
  }

  .trends_block::-webkit-scrollbar
  {
    visibility: hidden;
  }

  .copyright_block
  {
    position: relative;
    bottom: -120vh;
    left: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100px;
  }
  .copyright_block p
  {
    position: relative;
    justify-content: center;
    text-align: center;
  }

  .mid_block::-webkit-scrollbar
  {
    width: 10px;
  }
  .mid_block::-webkit-scrollbar-track
  {
    background-color: transparent;
    border-radius: 10px;
  }
  .mid_block::-webkit-scrollbar-thumb
  {
    background-color: #f48f42;
    border-radius: 10px;
  }
  .mid_block::-webkit-scrollbar-thumb:hover
  {
    background-color: #F29A5C;
  }
  .mid_block::-webkit-scrollbar-thumb:active
  {
    background-color: #9E5B2C;
  }

  .slider
  {
    position: relative;
    display: block;
    top: 10px;
    left: 0;
    margin: 10px;
    width: calc(100% - 450px);
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  .slider img
  {
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .slide_nav
  {
    z-index: 1;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .slide_nav input
  {
    visibility: hidden;
  }

  .checkmark
  {
    width: 15px;
    height: 15px;
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .checkmark:hover
  {
    cursor: pointer;
  }

  .icons{
    visibility: visible;
    width:20px;
    height:20px; 
    margin-left: -25px;
    margin-top: -2px;
    position: absolute;
  }
  .picture_radio:checked ~ .checkmark
  {
    background-color: rgba(255,255,255,0.5);
  }

  .picture_radio:checked ~ .checkmark:after
  {
  }

  .trend_header
  {
    position: relative; 
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .category_container
  {
    position: relative;
  }

  .trends_block img
  {
    z-index: 0;
    display: block;
    
    width: 420px;
    height: 300px;
    object-fit: cover;
  }

  .title
  {
    z-index: 1;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 50%;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    transform: translate(-50%,-50%);
  }

  /*Masaüstü görünümü için Menu bar */
  #desktop_menu
  {
    position: absolute;
    left: 260px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 450px);
    font-size: 28px;
    transition: 0.5s;
  }

  .menu_item
  {
    color: #fff;
    width: auto;
    position: relative;
    font-family: "Bellota Regular";
    margin-right: 15px;
  }

  .menu_item:after
  {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    transition: 0.5s;
    background-color: #fFf;
  }

  .menu_item:hover
  {
    cursor: pointer;
  }

  .menu_item_kucuk
  {
    font-size: 14px;
  }

  .menu_item:hover:after
  {
    width: 100%;
  }



  /* Anasayfada Bulunan 5 Öneri Paylaşımı Başlangıcı*/
  .contentbar{
    height: auto;
  }
  /*Tek Sayılardaki Paylaşımın Başlangıcı*/
  .leftcircle1{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 90px;    
    position: static;
    margin-top: -150px;   
  }
  .contentblock1{
    width: 90%;
    height: 150px;
    background-color:grey;
    margin-left:75px;
  }
  
  .header1{
    margin-left: 90px;
  }
  .content1{
    margin-left:90px;
    margin-top: -25px;
  }
  .username1{
    font-size: 15px;
    margin-left: 115px;
    margin-top: -17px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .hitpoint{
    font-size: 15px;
    position: absolute;
    margin-left: 375px;
    margin-top: -32px;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
  }
  .likepoint{
    font-size: 15px;
    position: absolute;
    margin-left: 725px;
    margin-top: -32px;
    font-family: Arial, Helvetica, sans-serif;
    color:green;
  }
  .time{
    font-size: 15px;
    position: absolute;
    margin-left: 925px;
    margin-top: -32px;
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
  }
  .favorite{    
    font-size: 15px;
    position: absolute;
    margin-left: 1125px;
    margin-top: -32px;
    font-family: Arial, Helvetica, sans-serif;
    color:pink;
  }
  /*Tek Sayılardaki Paylaşımın Bitişi*/
  /*İkinci Paylaşım Başlangıcı*/
  .leftcircle2{
    float: right;
    margin-right: 75px;
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 90px;    
    position: static;
    margin-top: -150px;   
  }
  .contentblock2{
    width: 90%;
    height: 150px;
    background-color:grey;
  }
  .header2{
    margin-left: 15px;
  }
  .content2{
    margin-left: 15px;
    width: 92%;
    margin-top: -25px;
  }
  .username2{
    font-size: 15px;
    margin-left: 1125px;
    margin-top: -17px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .hitpoint2{
    font-size: 15px;
    position: absolute;
    margin-left: 875px;
    margin-top: -32px;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
  }
  .likepoint2{
    font-size: 15px;
    position: absolute;
    margin-left: 725px;
    margin-top: -32px;
    font-family: Arial, Helvetica, sans-serif;
    color:green;
  }
  .time2{
    font-size: 15px;
    position: absolute;
    margin-left: 375px;
    margin-top: -32px;
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
  }
  .favorite2{    
    font-size: 15px;
    position: absolute;
    margin-left: 115px;
    margin-top: -32px;
    font-family: Arial, Helvetica, sans-serif;
    color:pink;
  }
  /*Çift Sayılardaki Paylaşım Bitişi*/
  /*Anasayfada Bulunan 5 Öneri Paylaşımının Bitişi*/
}
/*1920 Pixel Aşağısı İçin Responsive Başlangıcı*/
@media screen and (max-width: 1910px) {  
  /*Anasayfada Bulunan 5 Öneri Paylaşımının Başlangıcı*/
  /*Tek Sayılardaki Paylaşımın Başlangıcı*/
  .contentblock1{
    width: 90%;
    font-size: 18.4px;
  }  
  .content1{
    margin-left:90px;
    margin-top: -25px;
    width: 85%;
  }
  .username1{
    font-size: 12px;
    margin-left: 115px;
    margin-top:15px;
    }
  .hitpoint{
    font-size: 12px;
    margin-top:-26px;
    margin-left: 235px;
  }
  .likepoint{
    font-size: 12px;
    margin-left:405px;
    margin-top: -27.5px;
  }
  .time{
    font-size: 12px;
    margin-left: 505px;
    margin-top: -28px;
  }
  .favorite{    
    font-size: 12px;
    margin-left: 625px;
    margin-top: -28px;
  }
  /*Tek Sayılardaki Paylaşımın Bitişi*/
  /*Çift Sayılardaki Paylaşım Başlangıcı*/
  .leftcircle2{
    float: right;
    margin-right: 23px;
  }
  .contentblock2{
    font-size: 18.4px;
    width: 90%;
  }
  .content2{
    margin-left: 15px;
    width: 88%;
    margin-top: -25px;
  }
  .username2{
    font-size: 12px;
    margin-left: 625px;
    margin-top: 15px;
    }
  .hitpoint2{
    font-size: 12px;
    margin-left: 450px;
    margin-top: -26px;
  }
  .likepoint2{
    font-size: 12px;
    margin-left: 345px;
    margin-top: -26px;
  }
  .time2{
    font-size: 12px;
    margin-left: 205px;
    margin-top: -26px;
  }
  .favorite2{    
    font-size: 12px;
    margin-left: 40px;
    margin-top: -26px;
  }
  /*Çift Sayılardaki Paylaşım Bitişi*/
  /*Anasafyada Bulunan 5 Öneri Paylaşımının Bitişi*/
}
/*1920 Pixel Aşağısı İçin Responsive Bitişi*/
/*1366 Pixel Aşağısı İçin Responsive Başlangıcı*/
@media screen and (max-width: 1360px) { 
  .trends_block{
    width: 25%;
  }
  .slider{
    width: 72%;
  }
  .content1{width: 83%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    overflow:hidden;
  }
  .content2{
    width: 83%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    overflow:hidden;
  }
  .header1{    
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical; 
    overflow:hidden;
  }
  .header2{
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical; 
    overflow:hidden;
  }
  .username1{    visibility: hidden;
  margin-left: 115px;  }
  .hitpoint{visibility: hidden;
    margin-left: 150px;}
  .likepoint{visibility: hidden;
  margin-left:185px;}
  .time{visibility: hidden;
    margin-left:215px;}
  .favorite{visibility: hidden;
    margin-left:245px;}
  .username2{    visibility: hidden;
    margin-left:175px;  }
  .hitpoint2{visibility: hidden;
    margin-left:140px;}
  .likepoint2{visibility: hidden;
    margin-left:105px;}
  .time2{visibility: hidden;
    margin-left:70px;}
  .favorite2{visibility: hidden;} 
  .leftcircle2{
    position: absolute;
    float:right;
    margin-left:82%;
  }
  .username1:hover{
    
  }
  .icons{
    visibility: visible;
    width:20px;height:20px; margin-left: -25px;margin-top: -2px;position: absolute;
  }
  
}
/*1366 Pixel Aşağısı İçin Responsive Bitişi*/